   <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Account</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">${{source}}</div>
                                    <div>Primary Fund Source</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/account">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-university fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">${{savings}}</div>
                                    <div>Savings Account</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                             <div class="input-group">
                                   <input type="number" class="form-control" placeholder="Add to savings..." ng-model="delta">
                                  <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" ng-click="addToSavings()"><i class="fa fa-plus-circle"></i></button>
                                  </span>
                             </div>
                        </div>  
                    </div>
                </div>
            </div>
         
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-history fa-fw"></i> History
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                
                                      <li ng-repeat="item in history.slice().reverse()" class="{{item.class}}">
                                        <div class="timeline-badge info" ><i class="fa fa-dollar"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Fund Transfer</h4>
                                                <p><small class="text-muted"><i class="fa fa-clock"></i> {{item.timestamp | date:'medium' }}</small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                              <p>You deposited <b>${{item.delta}}</b>!  {{item.phrase}}</p> 
                                            </div>
                                        </div>
                                    </li>
                                    
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
              
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->